*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
main{
    display: flex;
    padding-top: 40px;
    background: linear-gradient(180deg, rgba(206, 206, 206, 0) 5.04%, #F5F5F5 100%);
    justify-content: center;
}
button img{
    margin-left: 4px;
    margin-right: 4px;
}
.block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header{
    padding-top: 44px;
  
}
.logo{
    display: inline-flex;
    justify-content: space-between;
    margin-right: 8px;
}
.logo-txt{
    display: inline-flex;
    text-align: top;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: auto;
}
.address{
    max-width: 690px;
    width: 100%;
    height: 40px;
    padding-left: 32px;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    background: url(/img/search.png) no-repeat 11px center;
}
.address::placeholder{
    font-style: normal;
    font-size: 16px;
    font-weight: 200;
    color: #bfbfbf;
}
.buttons{
    display: flex;
    flex-wrap: nowrap;
}
.button--primary{
    background: #1890ff;
    color: #ffff;
    width: 97px;
    height: 40px;
    border: 1px;
}
.button--seondary{
    background: transparent;
    border: 0.5px solid rgb(100, 100, 100);
    margin-left: 9px;
    width: 97px;
    height: 40px;
}
main{
    padding-top: 40px;
    background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
}


.mid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: flex-start;
    width: 1200px;    

}
.mid-txt{
    display: inline-flex;
    margin-left: 50px;
    font-size: 36px;
    font-weight: 700;
}
.search{
    display: inline-flex;
    max-width: 300px;
    width: 100%;
    height: 34px;
    padding-left: 32px;
    margin-top: 50px;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    background: url(/img/Vector.png) no-repeat 10px center;
    justify-content: flex-start;

}.search::placeholder{
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    color: #bfbfbf;
}
.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    padding-top: 56px;
    padding-right: 0px;
    
}
.card{
    display: inline-flex;
    justify-content: space-between;
    height: 384px;
    width: 413px;
    background: #ffffff;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    flex-wrap: wrap;
    text-decoration: none;
    margin-right: 40px;
}
.cards2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    padding-top: 30px;
}
.card-bot{
    justify-content: space-between;
    display: flex;
    width: 384px;
    padding-right: 132px;
    padding-left: 54px;
    color: #8C8C8C;
    font-size: 18px;
    font-weight: 400;
}

.footer{
    height: 156px;
}
.lo{
    display: inline-flex;
    padding-top: 70px;

}
.social{
    padding-top: 70px;
}
.to_p {
    padding-left: 35px;
}
.title_block{
    justify-content: space-between;
    display: flex;
    height: 32px;
    width: 384px;
    padding-left: 24px;
    padding-right: 32px;
    font-size: 24px;
    padding-top: px;
    color: black;
    font-weight: 400;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.plus{
   padding-right: 40px;
}
.desc{
    color: grey;
    padding-left: 24px;
    margin-top: 10px;
}
.but_l{
    
    background-color: #1890ff;
    color: #F5F5F5;
    border: 1px;
    width: 124px;
    height: 40px;
    border-radius: 2px;
}
.price{
    padding-left: 50px;
    font-size: 20px;
    font-weight: 700;
}
.card-product{
    margin-top: 10px;
}
.cart{
    margin-left: px;
}
.modal{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
}
.modal-head{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
}
.modal-window{
    max-width: 780px;
    width: 100%;
    background-color: #F5F5F5;
    padding: 41px 46px;
    display: flex;
    flex-direction: column;
}
.modal_title{
    font-size: 36px;
}
.but_close{
    width: 25px;
    height: 25px;
    background:url(../img_modal/close.png) no-repeat center / cover;
    border: none;
    cursor: pointer;
}
.food_name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 400;
}
.price_product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 320px;
    font-size: 20px;
    font-weight: 700;
}
.count{
    font-size: 16px;
    font-weight: 400;
    padding: 0px 10px;
}
.btn_count{
    width: 41px;
    height: 32px;
    border-color: #1890ff;
    color: #1890ff;
    border: 1px solid #1890ff;
    background-color: transparent;
    cursor: pointer;
}
.btn_counted{
    width: 71px;
    height: 32px;
    border: 1px solid #1890ff;
    color: #1890ff;

}
.modal-footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sum_btn{
    width: 106px;
    height: 53px;
    background-color: #262626;
    border: 1px solid;
    border-radius: 5px;
}
.sum{
    color: #D9D9D9;
    font-size: 20px;
    font-weight: 700;
}
.button_primary{
    width: 149px;
    height: 40px;
    border: 0px solid;
    background-color: #1890ff;
    border-radius: 2px;
    color: #ffffff;
    cursor: pointer;
}
.button_secondary{
    width: 88px;
    height: 40px;
    border: 1px solid #8C8C8C;
    color: #8C8C8C;
    cursor: pointer;
    margin-left: 10px;
}