*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
main{
    display: flex;
    padding-top: 40px;
    background: linear-gradient(180deg, rgba(206, 206, 206, 0) 5.04%, #F5F5F5 100%);
    justify-content: center;
}
.block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header{
    padding-top: 44px;
  
}
.logo{
    display: inline-flex;
    justify-content: space-between;
    margin-right: 8px;
}
.logo-txt{
    display: inline-flex;
    text-align: top;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: auto;
}
.address{
    max-width: 690px;
    width: 100%;
    height: 40px;
    padding-left: 32px;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    background: url(/img/search.png) no-repeat 11px center;
}
.address::placeholder{
    font-style: normal;
    font-size: 16px;
    font-weight: 200;
    color: #bfbfbf;
}
.buttons{
    display: flex;
    flex-wrap: nowrap;
    border: 1px;
    border-radius: 2px;
}
.button--primary{
    background: #1890ff;
    color: #ffff;
    width: 97px;
    height: 40px;
    border: 1px;
    border-radius: 2px;
}
.button--seondary{
    background: transparent;
    border: 0.5px solid grey;
    margin-left: 9px;
    width: 97px;
    height: 40px;
    border: px;
    border-radius: 2px;
}
main{
    padding-top: 40px;
    background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
}
.online{
    position: relative;
    display: flex;
    margin-left: 280px;
    height: 300px;
    width: 1200px;
    border-radius: 10px;    
    background: rgb(240, 226, 150);
    right: 120px;
    top: 50px;   
}

.online-txt{
    display: inline-block;
    width: 515px;
    height: 300px;
    align-items: center;
}
.online_img{
    display: inline-block;
    width: 685px;
    height: 300px;
    background: url(/img/header.png) ;
}
.online-p{
    font-size: 22px;
    padding-left: 70px;
    
}
.online-h{
    padding-left: 70px;
    padding-top: 68px;
    padding-bottom: 15px;
    font-size: 30px;
}
.mid{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 56px;

}
.mid-txt{
    display: inline-flex;
    padding-top: 50px;
    margin-left: 50px;
}
.search{
    display: inline-flex;
    max-width: 300px;
    width: 100%;
    height: 34px;
    padding-left: 32px;
    margin-top: 50px;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    background: url(/img/Vector.png) no-repeat 10px center;

}.search::placeholder{
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    color: #bfbfbf;
}
.cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    padding-top: 56px;
    margin-left: 160px;
}
.card{
    display: inline-flex;
    justify-content: space-between;
    height: 377px;
    width: 384px;
    background: #ffffff;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    flex-wrap: wrap;
    text-decoration: none;
}
.cards2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin-left: 160px;
    padding-top: 30px;
}
.card-main{
    justify-content: space-between;
    display: flex;
    height: 32px;
    width: 384px;
    padding-left: 24px;
    padding-right: 32px;
    font-size: 24px;
    padding-top: 0px;
    color: black;
}
.card-bot{
    justify-content: space-between;
    display: flex;
    width: 384px;
    padding-right: 132px;
    padding-left: 24px;
    color: #8C8C8C;
}
.minut{
    font-size: 12px;
    text-align: center;
    width: 45px;
    height: 20px;
    background-color: black;
    color: #bfbfbf;
    border-radius: 2px;    
}

.footer{
    height: 156px;
}
.lo{
    display: inline-flex;
    padding-top: 70px;

}
.social{
    padding-top: 70px;
}
.to_p {
    padding-left: 35px;
}